<Settings>
  <ContentPath>BlindListenerData</ContentPath>
  <SoundStartCopy>Sounds/StartLoadData.wav</SoundStartCopy>
  <SoundFinishCopy>Sounds/LoadDataFinished.wav</SoundFinishCopy>
  <SoundLowSize>Sounds/NotEnoughSpace.wav</SoundLowSize>
  <SoundContinue>Sounds/LoadDataContinues.wav</SoundContinue>
</Settings>
